<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HelloAngular2</title>
</head>
<body>

<h1> HelloAngular2 </h1>
<root-comp></root-comp>
<div id="_templates">
    <script type="text/ng-template" id="rootcomp.html">
        <examplecomp></examplecomp>
    </script>

    <script type="text/ng-template" id="examplecomp.html">
        <div *ngFor="let dataName of (exampleObservable$ | async)?.exampleData;">
            <p class='accountId-styles'[exampleDir]="dataName.AccountId">{{dataName.AccountId | examplePipe}}</p>
        </div>
    </script>
</div>
</body>
</html>